#institucional {
    margin-bottom: 40px;
}

.page-title {
    font-weight: bold;
    font-family: 'Lato';
    font-size: 30px;
    color: #016fa8;
    margin-bottom: 50px;
}

#miolo p {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
}