<!-- index.html -->
<% extends "layout.html" %>
<% set active = "index" %>

<% block content %>

    <div class="container" ng-controller="HomeCtrl">

      <div class="row">
        <div class="col-lg-9">
          
          <div id="carousel-banners" class="carousel slide" data-ride="carousel">
              <!--<ol class="carousel-indicators">
                  <li data-target="#carousel-banners" data-slide-to="0" class=""></li>
                  <li data-target="#carousel-banners" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-banners" data-slide-to="2" class="active"></li>
              </ol>-->
              <div class="carousel-inner">
                  <a href="javascript:void(0);" ng-click="open('lg', 'modal.html')" class="item active">
                    <div class="mascara"></div>
                    <h2>Seja um motorista legal. <br> Faça o curso de Reabilitação. <span>Clique e saiba mais</span></h2>
                    
                    <img alt="Banner" src="images/banner-home.jpg">
                  </a>
              </div>
              <!--<a class="left carousel-control" href="#carousel-banners" data-slide="prev"> <i class="fa fa-arrow-left iconebanner"></i> </a>
              <a class="right carousel-control" href="#carousel-banners" data-slide="next"> <i class="fa fa-arrow-right iconebanner"></i> </a>-->
          </div>
          
        </div>
        <div class="col-lg-3">
          
          <% include "partials/area-aluno.html" %>
          
        </div>
      </div>

      <div id="chamadas" class="row">
        <div class="col-lg-3">
          <a href="inscreva.html" class="well well-amarelo text-center">
            <i class="fa fa-pencil"></i>
            <h2>Inscreva-se</h2>
          </a>

          <p class="mh200">Inscreva-se em nosso curso e aproveite um ambiente com total liberdade de aprendizado.</p>

          <a href="inscreva.html" class="btn btn-block btn-default btn-yellow">Inscreva-se</a>
        </div>
        <div class="col-lg-3">
          <a href="inscreva.html" class="well well-vermelho text-center">
            <i class="fa fa-book"></i>
            <h2>Cursos</h2>
          </a>

          <p class="mh200">Conheça os cursos desenvolvido especialmente para você.</p>

          <a href="inscreva.html" class="btn btn-block btn-default btn-red">Conheça os cursos</a>
        </div>
        <div class="col-lg-3">
          <a href="ead.html" class="well well-verde text-center">
            <i class="fa fa-desktop"></i>
            <h2>EAD</h2>
          </a>

          <p class="mh200">Forma de ensino/aprendizagem mediados por tecnologias que permitem que o professor e o aluno estejam em ambientes físicos diferentes.</p>

          <a href="ead.html" class="btn btn-block btn-default btn-green">Entenda as regras</a>
        </div>
        <div class="col-lg-3">
          <a href="parceria.html" class="well well-laranja text-center">
            <i class="fa fa-globe"></i>
            <h2>Parceria</h2>
          </a>

          <p class="mh200">Estabelecer uma autentica parceria com os clientes, visando, através de solidas metodologias, técnicas e aperfeiçoamento, assegurar o desenvolvimento e a excelência profissional.</p>

          <a href="parceria.html" class="btn btn-block btn-default btn-orange">Conheça nossos parceiros</a>
        </div>
      </div> <!-- #chamadas.row -->

      <% include "partials/links-uteis.html" %>
      
    </div> <!-- .container -->
<% endblock %>