<!-- inscreva.html -->
{% extends "layout.html" %}
{% set active = "inscreva" %}

{% block content %}
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          
          <h1 class="page-title">Inscrição</h1>
          
        </div>
      </div>
      <div id="institucional" class="row">
        <div id="miolo" class="col-lg-8">

          <div class="well">
            
            <h2>Siga as etapas abaixo para recuperar sua CNH:</h2>

            <p><strong>1º Passo</strong> – Entregar a CNH em um posto de habilitação mais próximo de sua residência ou no Núcleo de Documentos Apreendidos (NUDA); </p>

            <p><strong>2º Passo</strong> – Para agendar o procedimento, você deve pagar o DUDA, no valor de R$94,91 e agendar o serviço Alteração de Dados/Reciclagem de Condutores por meio do site do Detran-RJ (www.detran.rj.gov.br) ou pelos telefones 3460-4040 (Região Metropolitana), 0800-0204040 e 0800-0204041  (interior); </p>

            <p><strong>3º Passo</strong> – Comparecer ao posto de habilitação na data e hora marcada, com originais e cópias de identidade, CPF e comprovante de residência, além do DUDA pago. Neste atendimento, será aberto um RENACH (Registro Nacional de Carteiras de Habilitação), e será batido a foto junto com o cadastramento de biometria;  </p>

            <p><strong>4º Passo</strong> – Com o protocolo em mãos você deve clicar no botão "Quero me inscrever" para preencher a inscrição no sistema do ICETRAN </p>

            <em><p>- Você receberá um e-mail com todas as informações sobre o pagamento do curso; </em> </p>

            <em><p>- Após a compensação bancária do boleto ou a confirmação do pagamento via pagseguro o seu curso estará liberado </em></p> 

            <em><p>- Você deverá entrar o site www.icetran.org.br e na área de acesso colocar seu CPF, e a senha criada por você na hora da inscrição para acessar o curso </em> </p>

            <p><strong>5º Passo</strong> – Após a conclusão do curso você deverá agendar a sua prova teórica no site do Detran-RJ para realizá-la na data e hora marcada; </p>

            <p><strong>6º Passo</strong> – Para ser aprovado é necessário acertar 70% da prova, se você for reprovado deverá agendar uma nova prova pagando outro DUDA; </p>

            <p><strong>7º Passo</strong> – Se for aprovado, você deverá retornar ao local onde entregou sua carteira para pegá-la de volta.</p>

            <p><em>Informações e esclarecimentos e-mail ead@ipvtran.com.br</em></p>

          </div>
          
        </div>
        <div class="miolo col-lg-4">

          <div class="well">
            <h2>Grade Curricular</h2>

            <table class="table">
              <thead>
                <tr>
                  <th>Módulo</th>
                  <th>Horas/Aula</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Direção Defensiva</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>Noções de Primeiros Socorros</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Legislação de Trânsito</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Relacionamento Interpessoal</td>
                  <td>6</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="well">
            <h2>O prazo mínimo de realização do curso é de 05 (cinco) dias.</h2>
            
            <p>O valor do curso à vista no boleto é de R$270,00 (duzentos e setenta reais).</p>

            <p>O valor do curso no cartão é de R$270,00 (Duzentos e setenta reais) reais em até 12 vezes ou 2 vezes sem juros - esta opção fica condicionada as regras da operadora deste sistema</p>
          </div>
        </div>
      </div>

    </div> <!-- .container -->
{% endblock %}