<!-- inscreva.html -->
<% extends "layout.html" %>
<% set active = "inscreva" %>

<% block content %>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          
          <h1 class="page-title">Inscrição</h1>
          
        </div>
      </div>
      <div id="institucional" class="row">
        <div id="miolo" class="col-lg-6">

          <div class="well">
            
            <h2 id="siga">Siga as etapas abaixo para recuperar sua CNH:</h2>

            <p>O curso de reciclagem para Condutores Infratores é lecionado, totalmente, na modalidade EAD (Ensino a Distância), onde o aluno poderá usando um computador, tablete, notebook ou mesmo o Smartphone.</p>

            <p>Para realizar o curso e recuperar sua Carteira de Habilitação (CNH) deverá seguir as etapas abaixo:</p>

            <p><strong>1ª Etapa:</strong> Comparecer, levando sua CNH Original, ao NUDA (Núcleo de Documentos Apreendidos) em qualquer Posto de Habilitação do Estado do Rio de Janeiro.</p>

            <p><strong>2ª Etapa:</strong> Emitir e Pagar o Duda(Documento Único do Detran/RJ de Arrecadação) Cod.: 210-0 no Valor de R$ 94,91.</p>

            <p><strong>3ª Etapa:</strong> Após o pagamento, agende o dia e a hora para coleta de dados biométricos no Serviço de Alteração de Dados/Reciclagem de condutores por meio dos telefones 21 3460-4040 (capital e região metropolitana) e 0800-020-4040 ou 0800-020-4041.</p>

            <p><strong>4ª Etapa:</strong> Comparecer ao Posto de Habilitação Agendado para coleta dos dados biométricos levando consigo RG (original e Cópia) e CPF (original e Cópia), comprovante de residência e o Duda Pago. Neste atendimento será aberto o RENACH (registro nacional de carteira de Habilitação).</p>

            <p><strong>5ª Etapa:</strong> Com o número do RENACH em mãos, utilize seu CPF e a categoria de sua CNH para se inscrever no Curso de reciclagem do IPVtrânsito.
            Com o pagamento confirmado, você recebera um e-mail com seu usuário e senha para acesso a plataforma e poder realizar o curso de Reciclagem para condutor infrator.</p>

            <p><strong>6ª Etapa:</strong> Após a realização do Curso, você deverá imprimir o Certificado e agendar no site do Detran/RJ sua prova teórica.
            Ao imprimir o Certificado, seus dados de aproveitamento no curso de reciclagem serão enviados e registrados na base de dados do Detran/RJ.</p>

            <p><strong>7ª Etapa:</strong> Para ser APROVADO na prova do Detran/RJ será necessário acertar 70% da prova. Sendo reprovado, deverá ser pago um novo Duda e agendar nova prova.</p>

            <p><strong>8ª Etapa:</strong> Após aprovação na prova teórica, compareça ao local onde entregou sua CNH para recuperá-la.</p>


            <p><em>Informações e esclarecimentos e-mail <a href="mailto:ead@ipvtransito.com.br">ead@ipvtransito.com.br</a></em></p>

          </div>
          
        </div>
        <div class="miolo col-lg-6">
          
          <h1 class="page-title">Inscreva-se já:</h1>

          <div ng-controller="InscricaoCtrl">

            <div class="form-group">
              <a href="dados-inscricao.html" class="btn btn-success btn-block btn-lg">Avançar</a>
            </div>

          </div>

          <div class="well" style="min-height: auto;">
            <h2>Preço único à vista R$ 270,00.</h2>
            <br>
            <p>Parcelamento: 2X sem juros.</p>
            <p>Parcelamento: 5x com juros <em>(condições da operadora)</em>.</p>
          </div>

          <div class="clearfix"></div>

          <div class="well" style="min-height: auto;">
            <h2 id="grade" class="grade-a">Por determinação do Detran/RJ você terá um prazo mínimo <br> de 5 dias para realizar o curso e 45 dias para conclusão.</h2>
          </div>

          <div class="well">
            <h2 id="grade">Estrutura Curricular</h2>

            <table class="table">
              <thead>
                <tr>
                  <th>MÓDULO</th>
                  <th>DISCIPLINA</th>
                  <th>HORAS/AULA</th>
                </tr>
              </thead>
              <tbody>
                <tr class="info">
                  <td>
                    <p style="font-size: 14px;">Legislação de Trânsito</p>
                  </td>
                  <td>
                    <p style="font-size: 12px;">
                      <strong>Determinações do CTB quanto a:</strong> <br>
                      - Formação do condutor; <br>
                      - Exigências para categorias de habilitação em relação a veículo conduzido; <br>
                      - Documentos do condutor e do veículo: apresentação e validade; <br>
                      - Sinalização viária; <br>
                      - Penalidades e crimes de trânsito; <br>
                      - Direitos e deveres do cidadão; <br>
                      - Normas de circulação e conduta. <br>
                      <strong>Infrações e penalidades referentes à(ao):</strong> <br>
                      - Documentação do condutor e do veículo; <br>
                      - Estacionamento, parada e circulação; <br>
                      - Segurança e atitudes do condutor, passageiro, pedestre e demais atores do processo de circulação; <br>
                      - Meio ambiente. <br>
                      </p>
                  </td>
                  <td class="text-center">
                    <p style="font-size: 14px;">12 h/a</p>
                    </td>
                </tr>
                <tr>
                  <td>
                    <p style="font-size: 14px;">Direção defensiva</p></td>
                  <td>
                    <p style="font-size: 12px;">
                    - Conceito de direção defensiva – veículos de 2, 4 ou mais rodas; <br>
                    - Condições adversas; <br>
                    - Como evitar acidentes; <br>
                    - Cuidados com os demais usuários da via; <br>
                    - Estado físico e mental do condutor, consequências da ingestão e consumo de bebida alcoólica e substâncias psicoativas; <br>
                    - Situações de risco. <br>
                      </p>
                  </td>
                  <td class="text-center">8 h/a</td>
                </tr>
                <tr class="info">
                  <td>
                    <p style="font-size: 14px;">Noções de Primeiros Socorros</p>
                  </td>
                  <td>
                    <p style="font-size: 12px;">
                    - Sinalização do local do acidente; <br>
                    - Acionamento de recursos: bombeiros, polícia, ambulância, concessionária da via e outros; <br>
                    - Verificação das condições gerais da vítima; <br>
                    - Cuidados com a vítima (o que não fazer). <br>
                    </p>
                  </td>
                  <td class="text-center">4 h/a</td>
                </tr>
                <tr>
                  <td><p style="font-size: 14px;">Relacionamento Interpessoal</p></td>
                  <td>

                    <p style="font-size: 12px;">
                    - Comportamento solidário no trânsito; <br>
                    - O indivíduo, o grupo e a sociedade; <br>
                    - Responsabilidade do condutor em relação aos demais atores do processo de circulação; <br>
                    - Respeito às normas estabelecidas para segurança no trânsito; <br>
                    - Papel dos agentes de fiscalização de trânsito.</p>
                  
                  </td>
                  <td class="text-center"><p style="font-size: 14px;">6 h/a</p></td>
                </tr>
                <tr>
                  <td><p style="font-size: 14px; font-weight: bold;">Total</p></td>
                  <td>&nbsp;</td>
                  <td><p style="font-size: 14px; font-weight: bold;">30 h/a</p></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div> <!-- .container -->
<% endblock %>