<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">CURSO DE RECICLAGEM PARA CONDUTORES INFRATORES – CRCI</h4>
</div>
<div class="modal-body">

  <p>
    A legislação de trânsito prevê a <strong>suspensão do direito de 
      dirigir</strong> quando da ocorrência de determinadas infrações 
      específicas ou quando o condutor atinge <strong> 20 pontos ativos 
        em sua habilitação</strong>. Ao atingir este volume de pontos 
    o condutor tem sua <strong>Carteira de Habilitação Suspensa</strong> e
      não poderá mais dirigir qualquer veículo. Se esta for a situação que você se encontra,
      além de cumprir o tempo da penalidade de suspensão imposta pelo Detran, 
      você ainda deverá fazer o <strong>Curso de Reciclagem para Condutores</strong> ministrado 
    pelo Instituto Pró-Vida devidamente reconhecida pelo Detran.
  </p>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
</div>