<div class="row">
    <div class="col-lg-8">
        
        <div id="carousel-banners" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <a href="#" class="item active">
                    <div class="mascara"></div>
                    <h2>Ainda tem dúvidas? <span>Clique e acesse nosso FAQ</span></h2>

                    <img alt="Banner" src="images/banner_duvidas.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

        <div id="links-uteis">
            <h2><i class="fa fa-star"></i> Links Úteis</h2>

            <nav>
            <a href="#">Inscreva-se</a>
            <a href="#">Cursos</a>
            <a href="#">EAD</a>
            <a href="#">Parceria</a>
            <a href="#">Biblioteca Virtual</a>
            <a href="#">Legislação</a>
            <a href="#">Ebook</a>
            <a href="#">Contato</a>
            </nav>
        </div> <!-- #links-uteis -->

    </div>
</div>