<div class="row">
    <div class="col-lg-8">
        <img src="images/banner2.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-lg-4">

        <div id="links-uteis">
            <h2><i class="fa fa-star"></i> Links Úteis</h2>

            <nav>
            <a href="#">Inscreva-se</a>
            <a href="#">Cursos</a>
            <a href="#">EAD</a>
            <a href="#">Parceria</a>
            <a href="#">Biblioteca Virtual</a>
            <a href="#">Legislação</a>
            <a href="#">Ebook</a>
            <a href="#">Contato</a>
            </nav>
        </div> <!-- #links-uteis -->

    </div>
</div>